/* Trying to control all CSS from here now rather than across components. */
/* Want to use variables and apply them to components from this file. */

/* GLOBAL CSS VARIABLES ------------------------- */
:root {
  /* UNIVERSAL RULES */
	/* Fonts */
	--fontHeaders: "Roboto", sans-serif;
	--fontContent: "Lato", sans-serif;
	--fontSizeSettings: 16px;
	--fontSizePopup: 14px;
	/* Toasts */
	--toastContainerTop: 0;
  --toastContainerRight: auto;
  --toastContainerBottom: auto;
  --toastContainerLeft: 0;

  /* LIGHT MODE THEME */
	/* Colours - Content */
  --textColor: #444444;
	--backgroundColorPrimary: #f0f2f5;
	--backgroundColorSecondary: #FFFFFF; 
  --borderColor: #AAAAAA;
	/* Colours - Banners */
	--bannerTextColor: #FFFFFF;
	--bannerBackgroundColor: #282C34;
	/* Colours - Misc */
	--hrColor: #d3d3d3;
	--footerBackgroundColor: #e8ecf3; 
  --theadBackgroundColor: #AAAAAA;
}

/* OTHER STYLING -------------------------------- */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

input,
button,
select,
textarea {
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

/* SCROLLBAR --------------------------------- */
/* Variables */
html {
  --scrollbarBG: #cfd8dc;
  --thumbBG: #90a4ae;
}
/* Style */
body::-webkit-scrollbar {
  width: 11px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

/* TOOLTIPS ---------------------------------- */
.tooltip .tooltip-inner {
  background-color: #f0f2f5;
  color: #444444;
  border: 1px solid #AAAAAA;
  font-family: var(--fontContent);
}