#myProgress.svelte-1ck90gr {
  width: 100%;
  background-color: grey;
  border-radius: 10px;
}
#myBar.svelte-1ck90gr {
  width: 0%;
  height: 30px;
  background-color: red;
  border-radius: 10px;
}
.target.svelte-1ck90gr {
  padding: 20px;
  width: 300px;
  position: fixed;
  z-index: 1000;
  top: 150px;
  left: 150px;
  background-color: whitesmoke;
  border: 3px solid grey;
  border-radius: 10px;
}
button.svelte-1ck90gr {
  border-radius: 10px;
  padding: 8px;
}
.emergencySkip.svelte-1ck90gr {
  background-color: red;
  color: white;
}
.continue.svelte-1ck90gr {
  background-color: green;
  color: white;
}
